@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --purp: #3a52bf;
  --l-purp: #745cf9;
}
.purp-txt {
  color: var(--l-purp);
}
.white-txt {
  color: #fff;
}
.bg-grey {
  background-color: #f5f5f5;
}
.bg-black {
  background-color: #000;
}
.bg-white {
  background-color: #fff;
}
.t-btn-purple {
  background-color: var(--l-purp);
  border: none;
}
.t-btn-purple:hover {
  background-color: #735cf9bf;
  transition: 0.3s;
}
.btn-purple {
  background-color: var(--l-purp);
  border: none;
}
.btn-purple:hover {
  background-color: var(--purp);
  transition: 0.3s;
}
.btn-bg {
  background-color: transparent;
  border: 2px solid #fff;
}
.btn-bg:hover {
  background-color: #fff;
  color: #4c4c4c;
  transition: 0.3s;
}
/* bootstrap changes */
.form-control {
  width: 200px;
  background-color: #eeeeee;
  margin: 0 5px;
  height: 50px;
  border-radius: 0;
}
.btn-outline-success {
  background-color: var(--purp);
  color: #fff;
  border-radius: 0;
  width: 90px;
  height: 50px;
  font-size: 0.8rem;
}
.btn-outline-success:hover {
  background-color: var(--l-purp);
}
dl,
ol,
ul {
  margin-bottom: 0 !important;
}

body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}
header {
  height: 100vh;
  background: url(/img/img-1.jpg) center/cover fixed;
}
nav {
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  position: static;
  z-index: 2;
  width: 100vw;
  border-bottom: 1px #bbbbbb solid;
}
#logo a {
  color: #666;
  font-size: 1.5rem;
  font-weight: 400;
}
#menu {
  display: none;
}
#menu li a {
  color: #4c4c4c;
  text-transform: uppercase;
  padding-right: 30px;
  font-size: 0.8rem;
  font-weight: 500;
}
#menu li a:hover {
  color: var(--l-purp);
  transition: 0.2s;
}
#hamburger {
  font-size: 0.9rem;
  color: var(--purp);
}
.container {
  height: calc(100vh + 75px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container h1,
#small h1 {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 0;
}
.container p,
#small p,
#customers p {
  color: #fff;
  padding-block: 20px 30px;
  font-size: 0.9rem;
  margin-bottom: 0;
}
button {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 0.7rem;
  letter-spacing: 1px;
  width: 200px;
  height: 50px;
  margin-right: 5px;
}
#seo,
#portfolio {
  padding: 80px 10px;
}
#seo img,
#portfolio img {
  width: 100%;
}
#seo h2,
#portfolio h2,
#customers h2 {
  font-size: 1.9rem;
  font-weight: 400;
  padding: 25px 0;
}
#seo p,
#portfolio p {
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #8c8c8c;
  text-align: justify;
  padding-bottom: 40px;
}
#small {
  background: url(/img/img-2.jpg) center/cover fixed;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#small p,
#limitless p,
#projects p {
  padding: 30px 0;
}
#limitless,
#projects {
  padding: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#limitless img {
  width: 100%;
  padding: 40px 0 0 0;
}

#gallery img {
  background-position: cover;
  width: 100%;
}
.overlay-container {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #00000085;
}
.overlay-container:hover .overlay {
  opacity: 1;
}
.overlay-txt {
  color: white;
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#customers {
  background: url(/img/img-4.jpg) center/cover fixed;
  padding: 50px 0;
}
.carousel-item {
  text-align: center;
  width: 50%;
  margin-right: 0;
}
.carousel-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel-control-next,
.carousel-control-prev {
  top: 50%;
  height: 1.5rem;
}
.customer-img {
  border-radius: 50%;
  height: 100px;
}
#clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

}
.client-imgs img {
  margin: 70px;
  width: 60px;
  filter: opacity(70%);
  transition: 0.2s ease;
}
.client-imgs img:hover {
  filter: opacity(100%);
}
h6 {
  padding: 0.9rem;
}
#likeit{
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-evenly;
  align-items: center;
}
#likeit h2{
  font-size: 2.2rem;
  font-weight: 400;
}
footer {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.icons i{
  font-size: 1.1rem;
  margin-right: 15px;
}
.icons i:hover{
  color: var(--l-purp);
}
@media only screen and (min-width: 768px) {
  nav {
    position: fixed;
  }
  #menu {
    display: flex;
  }

  #hamburger {
    display: none;
  }
  .container h1,
  #small h1 {
    font-size: 3.8rem;
  }
  #small p,
  #limitless p {
    width: 70%;
  }
  #limitless img {
    width: 90%;
    padding: 40px 40px 0 40px;
  }
  #seo,
  #portfolio {
    display: flex;
    justify-content: space-evenly;
  }
  #portfolio {
    flex-direction: row-reverse;
  }
  #seo img,
  #portfolio img {
    width: 500px;
  }
  #seo .text-part,
  #portfolio .text-part {
    width: 400px;
  }
  #gallery {
    display: flex;
    flex-wrap: wrap;
  }
  #gallery img {
    height: 35vh;
  }
  .overlay-container {
    width: 25%;
  }
  #clients{
    height: 50vh;
  }
  #likeit{
    flex-direction: row;
    
  }
  footer{
    flex-direction: row;
  }
}
